@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.container {
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 0.5px solid rgb(228, 225, 225);
    z-index: 500;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;

}

.image {
    /* width: 100%; */
    height: 100px;
    padding: 20px 0px;
}

.nav {
    /* width: 100%; */
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    line-height: 100px;
    font-weight: bold;
}

li {
    list-style: none;
}

.anchor {
    text-decoration: none;
    color: rgb(16, 16, 49);
}

.anchorag {
    border: 2px solid black;
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    padding: 10px 44px;
    color: rgb(16, 16, 49);
    margin-right: 10px;
    word-spacing: 2px;
    letter-spacing: 2px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: bold;
}

.anchorag:hover {
    background: black;
    color: aliceblue;

}

.ccontent{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(248, 245, 245);
    padding-top: 120px;
    font-weight: 100;

}

.ccont{
    width: 100%;
    height: 200px;
}
.chead{
    margin-bottom: 15px;
    color: #051735;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;

}
.cpara{
    width: 35px;
    height: 3px;
    background-color: #051735;
    margin: auto;
}
.cpara1{
    margin-top: 25px;
    color: #051735;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1.5px;
    font-size: 15px;

    
}
.ccont1{
    width: 100%;
    height: 350px;
}

.ccont2{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.cname{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid  rgb(126, 125, 125);
    width: 450px;
    height: 30px;
}

.ccont3{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cbutton{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #051735;
    color: white;
    margin-top: 20px;
}
.cbutton:hover{
    border: 2px solid #051735;
    color: #051735;
    background-color: white;
}


.content4 {
    width: 100%;
    height: 400px;
    padding: 60px 0px 0px 150px;
    font-weight: lighter;
}

.head5 {
    font-size: 50px;
    color: #0C1D39;
    font-weight: lighter;
    letter-spacing: normal;


}

.headct3 {
    display: flex;
    align-items: center;
    gap: 9px;
}

.para10 {
    width: 30px;
    height: 1px;
    background-color: rgb(67, 160, 160);
    margin-top: 10px;

}

.para11 {
    font-family: 'Times New Roman', Times, serif;
    color: #0C1D39;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 10px;

}

.donate {
    width: 120px;
    height: 40px;
    border: 2px solid #0C1D39;
    text-align: center;
    font-size: 11px;
    font-weight: bolder;
    padding-top: 13px;
    margin-top: 35px;
    background-color: #0C1D39;
    color: aliceblue;
}

.donate:hover {
    background-color: white;
    color: #0C1D39;
}



.headct4 {
    display: flex;
    gap: 150px;
    margin-top: 30px;

}

.headct5 {
    display: flex;
    gap: 113px;
    margin-top: 30px;
}

.head7 {
    padding-left: 37px;
}

.headct6 {
    display: flex;
    gap: 10px;
}

#email {
    text-align: center;
    font-size: 10px;
    color: #051735;
    border: none;
    border: 2px solid #0C1D39;
    padding: 10px;
}

.button {
    border: none;
    border: 2px solid #0C1D39;
    /* text-align: center; */
    padding: 10px 30px;
    background-color: whitesmoke;
}

.button:hover {
    background-color: #0C1D39;
    color: white;
}

.content5 {
    width: 100%;
    height: 70px;
    background-color: #0C1D39;
    /* opacity: 0.8; */
}

.para15 {
    color: whitesmoke;
    padding: 30px 0px 0px 150px;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
}